.app {
  text-align: center;
  margin: 12px 44px 12px 44px
}

.app-heading {
  display: flex;
  padding: 12px 24px 12px 24px;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  text-align: center;
  font-size: 30px;
}

.home {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.categories-list {
  width: 200px;
  margin-right: 1em;
}

.categories-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-list a {
  text-decoration: none;
  color: #9babb4;
  font-weight: bold;
}

.categories-list a:hover {
  color: #596a73;
}

.categories-list li {
  padding: 1em;
}

.categories-list li:hover {
  background-color: #f0f0f0;
}

.categories-heading {
  font-weight: bold;
  padding: 1em 0;
}

.categories-list a.link-active {
  color: #596a73;
}

.post-section {
  flex: 2.5;
}

.post-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.post-option {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.post {
  display: flex;
  align-items: center;
  position: relative;
  margin: 16px 70px 16px 70px;
  padding: 5px;
  justify-content: space-between;
  background: #fafafa;
}

.post-description {
  flex: 1 0 auto;
  padding: 0 100px;
  text-align: left;
}

.post-info {
  font-size: 16px;
  margin: 5px;
  margin-right: 6px;
}

.post-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 70px;
  margin-left: 70px;
}

.sort-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 70px;
}

.comment {
  display: flex;
  -ms-align-items: center;
  align-items: flex-start;
  position: relative;
  margin: 16px 200px 10px 200px;

  padding: 5px;
  justify-content: space-around;
  background: #FAFAFA;
}

.comment-author {
  font-size: 12px;
  text-align: start;
  margin-right: 6px;
}

.comment-options {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-left: 70px;
}

.new-comment,
.new-post {
  display: flex;
  flex-direction: column;
  margin:10px auto;
  max-width: 450px;
  font-size: 13px;
}

.new-comment input[type=text],
.new-comment textarea,
.new-post input[type=text],
.new-post textarea,
.new-post select {
  box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 10px;
  margin:5px;
  outline: none;
}

.new-comment button,
.new-post button {
  width: 100px;
  height: 30px;
}

.new-comment .field-long,
.new-post .field-long {
  width: 100%;
}

.new-post .field-select{
  width: 100%;
}

.new-comment .field-textarea,
.new-post .field-textarea {
  height: 100px;
}

button {
  margin: 5px 2px;
}

.voting-buttons button {
  width: 30px;
  height: 30px;
}
